Checks: >
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  - *-redundant-access-specifiers,
HeaderFileExtensions: [ h, hpp ]
ImplementationFileExtensions: [ c, cpp ]
HeaderFilterRegex: '^.*/Source/.*'
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: 'x|y|w|h'
